/* styles.css
/* styles.css */
.pane {
    -fx-background-color: #f0f0f0; /* Example background color */
}


.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker Green */
}

.shape {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-cursor: hand;
}
//
.previous-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
}

.next-button {
    -fx-background-color: #008CBA; /* Blue */
    -fx-text-fill: white;
}

.background-button {
    -fx-background-color: #f44336; /* Red */
    -fx-text-fill: white;
}
